nav{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1e3a8a;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}